name: Build
on: [ pull_request, push ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Copy artifact files
        run: |
            mkdir -p My-Artifacts
            cp -r /github/home/.m2/repository/* My-Artifacts

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
            name: artifact-name
            path: My-Artifacts
      - name: Checkout the code
        uses: actions/checkout@v2
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build the app
        run: ./gradlew build